templates/marketing-intermediate-v2-2025-07-13T05-33-47-874Z-190-2.json
{
  "name": "Marketing Automation - Intermediate",
  "description": "🚀 Marketing Automation - Intermediate\n\nErweiterte Automatisierung mit Datenverarbeitung und Bedingungslogik\n\n📊 TEMPLATE-DETAILS:\n• Komplexität: INTERMEDIATE (Level 2/3)\n• Nodes: 5 \n• Setup-Zeit: 15-30 Minuten\n• Zielgruppe: Fortgeschrittene Grundkenntnisse\n• Voraussetzungen: Grundverständnis von APIs und Datenformaten\n\n🎯 FUNKTIONALITÄT:\nAutomatisiert marketing-Prozesse durch intelligente Datenverarbeitung, \nWebhook-Integration und erweiterte Workflow-Logik. Ideal für fortgeschrittene grundkenntnisse \nBenutzer, die ihre marketing-Abläufe optimieren möchten.\n\n⚡ KI-OPTIMIERT: Generiert mit claude-3-opus für maximale Effizienz und Benutzerfreundlichkeit.",
  "userInstructions": "📋 BENUTZER-ANLEITUNG: Marketing Automation\n\n🎯 WAS DIESER WORKFLOW MACHT:\nAutomatisiert Ihre marketing-Prozesse durch:\n• Empfang von Daten über Webhook\n• Intelligente Verarbeitung und Validierung  \n• Automatische Weiterleitung bei Erfolg\n\n👤 FÜR WEN IST DAS:\nFortgeschrittene Grundkenntnisse - Grundverständnis von APIs und Datenformaten\n\n⚡ SO VERWENDEN SIE DEN WORKFLOW:\n\n1️⃣ AKTIVIERUNG:\n   • Workflow öffnen und auf \"Aktivieren\" klicken\n   • Webhook-URL aus dem ersten Node kopieren\n\n2️⃣ DATEN SENDEN:\n   • POST-Request an die Webhook-URL senden\n   • JSON-Format verwenden:\n     {\n       \"data\": \"Ihre marketing-Daten\",\n       \"priority\": \"normal\",\n       \"source\": \"Ihr System\"\n     }\n\n3️⃣ ERGEBNIS PRÜFEN:\n   • Workflow-Ausführungen im Dashboard überwachen\n   • Bei Erfolg: Status \"success\" in den Logs\n   • Bei Fehlern: Detaillierte Fehlermeldungen verfügbar\n\n⏱️ SETUP-ZEIT: 15-30 Minuten\n🔧 ANPASSUNGEN: Webhook-Pfad und Verarbeitungslogik nach Bedarf ändern\n📞 SUPPORT: Community-Forum für Fragen und Hilfe",
  "technicalInstructions": "🔧 TECHNISCHE SETUP-ANLEITUNG: Marketing Automation\n\n⚙️ SYSTEM-ANFORDERUNGEN:\n• N8N Version: 1.0+ \n• Node-Types: webhook, function, if\n• Berechtigungen: Workflow aktivieren/deaktivieren\n• Speicher: Minimal (5 Nodes)\n\n🚀 INSTALLATION & KONFIGURATION:\n\n1️⃣ IMPORT:\n   • Template-JSON in N8N importieren\n   • Workflow-Name anpassen falls gewünscht\n   • Tags hinzufügen für bessere Organisation\n\n2️⃣ WEBHOOK-KONFIGURATION:\n   • Webhook-Node öffnen\n   • Pfad: \"marketing-automation\"\n   • Methode: POST\n   • Response-Mode: \"onReceived\"\n   \n3️⃣ FUNCTION-NODE ANPASSUNG:\n   • Verarbeitungslogik nach Business-Rules anpassen\n   • Logging-Level je nach Umgebung setzen\n   • Error-Handling für spezifische Use-Cases erweitern\n\n4️⃣ IF-NODE KONFIGURATION:\n   • Success-Bedingung: {{ $json.status }} === 'success'\n   • Erweiterte Bedingungen bei Bedarf hinzufügen\n   • Routing für Error-Cases definieren\n\n🔍 MONITORING & DEBUGGING:\n• Execution-Logs in N8N Dashboard prüfen\n• Webhook-Calls über Browser/Postman testen\n• Performance-Metriken bei hohem Durchsatz überwachen\n\n🔐 SICHERHEIT:\n• Webhook-URL geheim halten\n• Input-Validierung in Function-Node\n• Rate-Limiting bei öffentlicher Exposure\n\n⚡ PERFORMANCE-OPTIMIERUNG:\n• Execute-Once bei Single-Item-Processing\n• Batch-Processing für hohe Datenmengen\n• Caching für wiederholte Operationen\n\n📈 KOMPLEXITÄT: INTERMEDIATE \n🎯 Erwartete Anpassungszeit: 15-30 Minuten",
  "tags": [
    "marketing",
    "intermediate",
    "ai-generated",
    "automated",
    "level-2",
    "nodes-5"
  ],
  "category": "Business Operations",
  "subcategory": "Marketing",
  "complexity": "intermediate",
  "complexityLevel": 2,
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-automation",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Marketing Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "marketing-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Marketing Processing Engine - INTERMEDIATE\ntry {\n  const inputData = $json;\n  const ts = new Date().toISOString();\n  \n  console.log('Processing Marketing data (intermediate):', inputData);\n  \n  // Enhanced Processing Logic\n  const result = {\n    status: 'success',\n    processedAt: ts,\n    category: 'Marketing',\n    subcategory: 'Business Operations',\n    complexity: 'intermediate',\n    level: 2,\n    data: inputData,\n    processed: true,\n    workflow: 'Marketing Automation - Intermediate',\n    \n    metadata: {\n      processingTime: Date.now() - new Date(ts).getTime(),\n      aiModel: 'claude-3-opus',\n      nodeCount: 5\n    }\n  };\n  \n  console.log('Marketing processing completed successfully (intermediate)');\n  return { json: result };\n  \n} catch (error) {\n  console.error('Marketing processing error (intermediate):', error);\n  return {\n    json: {\n      status: 'error',\n      error: error.message,\n      ts: new Date().toISOString(),\n      category: 'Marketing',\n      complexity: 'intermediate'\n    }\n  };\n}"
      },
      "name": "Marketing Processor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "marketing-processor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "success-check"
    },
    {
      "parameters": {
        "functionCode": "// Data Transformation for Marketing\nconst inputData = $json;\nconst transformedData = {\n  ...inputData,\n  enriched: true,\n  transformedAt: new Date().toISOString(),\n  category: 'Marketing',\n  enrichmentLevel: 'intermediate'\n};\nreturn { json: transformedData };"
      },
      "name": "Data Enrichment",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "id": "data-enrichment"
    },
    {
      "parameters": {
        "functionCode": "// Notification Logic\nconsole.log('Marketing workflow completed successfully');\nreturn { json: { notified: true, workflow: 'Marketing' } };"
      },
      "name": "Notification",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "id": "notification"
    }
  ],
  "connections": {
    "Marketing Webhook": {
      "main": [
        [
          {
            "node": "Marketing Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Processor": {
      "main": [
        [
          {
            "node": "Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Check": {
      "main": [
        [
          {
            "node": "Data Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Enrichment": {
      "main": [
        [
          {
            "node": "Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "metadata": {
    "version": "2.0.0",
    "author": "Enhanced AI Template Generator",
    "created": "2025-07-13T05:33:47.814Z",
    "aiGenerated": true,
    "aiModel": "claude-3-opus",
    "templateNumber": 2,
    "totalTemplates": 3,
    "nodeCount": 5,
    "setupTime": "15-30 Minuten",
    "technicalLevel": "Fortgeschrittene Grundkenntnisse",
    "enhancement": {
      "hasDescription": true,
      "hasUserInstructions": true,
      "hasTechnicalInstructions": true,
      "hasComplexityLevels": true
    }
  },
  "validation": {
    "validated": true,
    "qualityScore": 0.9999999999999999,
    "validationPassed": true
  }
}