templates/sales-basic-v2-2025-07-13T05-33-47-863Z-190-1.json
{
  "name": "Sales Automation - Basic",
  "description": "🚀 Sales Automation - Basic\n\nEinfacher Einstiegs-Workflow für grundlegende Automatisierung\n\n📊 TEMPLATE-DETAILS:\n• Komplexität: BASIC (Level 1/3)\n• Nodes: 3 \n• Setup-Zeit: 5-10 Minuten\n• Zielgruppe: Anfänger-freundlich\n• Voraussetzungen: Keine Vorkenntnisse erforderlich\n\n🎯 FUNKTIONALITÄT:\nAutomatisiert sales-Prozesse durch intelligente Datenverarbeitung, \nWebhook-Integration und erweiterte Workflow-Logik. Ideal für anfänger-freundlich \nBenutzer, die ihre sales-Abläufe optimieren möchten.\n\n⚡ KI-OPTIMIERT: Generiert mit gpt-4-turbo für maximale Effizienz und Benutzerfreundlichkeit.",
  "userInstructions": "📋 BENUTZER-ANLEITUNG: Sales Automation\n\n🎯 WAS DIESER WORKFLOW MACHT:\nAutomatisiert Ihre sales-Prozesse durch:\n• Empfang von Daten über Webhook\n• Intelligente Verarbeitung und Validierung  \n• Automatische Weiterleitung bei Erfolg\n\n👤 FÜR WEN IST DAS:\nAnfänger-freundlich - Keine Vorkenntnisse erforderlich\n\n⚡ SO VERWENDEN SIE DEN WORKFLOW:\n\n1️⃣ AKTIVIERUNG:\n   • Workflow öffnen und auf \"Aktivieren\" klicken\n   • Webhook-URL aus dem ersten Node kopieren\n\n2️⃣ DATEN SENDEN:\n   • POST-Request an die Webhook-URL senden\n   • JSON-Format verwenden:\n     {\n       \"data\": \"Ihre sales-Daten\",\n       \"priority\": \"normal\",\n       \"source\": \"Ihr System\"\n     }\n\n3️⃣ ERGEBNIS PRÜFEN:\n   • Workflow-Ausführungen im Dashboard überwachen\n   • Bei Erfolg: Status \"success\" in den Logs\n   • Bei Fehlern: Detaillierte Fehlermeldungen verfügbar\n\n⏱️ SETUP-ZEIT: 5-10 Minuten\n🔧 ANPASSUNGEN: Webhook-Pfad und Verarbeitungslogik nach Bedarf ändern\n📞 SUPPORT: Community-Forum für Fragen und Hilfe",
  "technicalInstructions": "🔧 TECHNISCHE SETUP-ANLEITUNG: Sales Automation\n\n⚙️ SYSTEM-ANFORDERUNGEN:\n• N8N Version: 1.0+ \n• Node-Types: webhook, function, if\n• Berechtigungen: Workflow aktivieren/deaktivieren\n• Speicher: Minimal (3 Nodes)\n\n🚀 INSTALLATION & KONFIGURATION:\n\n1️⃣ IMPORT:\n   • Template-JSON in N8N importieren\n   • Workflow-Name anpassen falls gewünscht\n   • Tags hinzufügen für bessere Organisation\n\n2️⃣ WEBHOOK-KONFIGURATION:\n   • Webhook-Node öffnen\n   • Pfad: \"sales-automation\"\n   • Methode: POST\n   • Response-Mode: \"onReceived\"\n   \n3️⃣ FUNCTION-NODE ANPASSUNG:\n   • Verarbeitungslogik nach Business-Rules anpassen\n   • Logging-Level je nach Umgebung setzen\n   • Error-Handling für spezifische Use-Cases erweitern\n\n4️⃣ IF-NODE KONFIGURATION:\n   • Success-Bedingung: {{ $json.status }} === 'success'\n   • Erweiterte Bedingungen bei Bedarf hinzufügen\n   • Routing für Error-Cases definieren\n\n🔍 MONITORING & DEBUGGING:\n• Execution-Logs in N8N Dashboard prüfen\n• Webhook-Calls über Browser/Postman testen\n• Performance-Metriken bei hohem Durchsatz überwachen\n\n🔐 SICHERHEIT:\n• Webhook-URL geheim halten\n• Input-Validierung in Function-Node\n• Rate-Limiting bei öffentlicher Exposure\n\n⚡ PERFORMANCE-OPTIMIERUNG:\n• Execute-Once bei Single-Item-Processing\n• Batch-Processing für hohe Datenmengen\n• Caching für wiederholte Operationen\n\n📈 KOMPLEXITÄT: BASIC \n🎯 Erwartete Anpassungszeit: 5-10 Minuten",
  "tags": [
    "sales",
    "basic",
    "ai-generated",
    "automated",
    "level-1",
    "nodes-3"
  ],
  "category": "Business Operations",
  "subcategory": "Sales",
  "complexity": "basic",
  "complexityLevel": 1,
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales-automation",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Sales Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "sales-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Sales Processing Engine - BASIC\ntry {\n  const inputData = $json;\n  const ts = new Date().toISOString();\n  \n  console.log('Processing Sales data (basic):', inputData);\n  \n  // Basic Processing Logic\n  const result = {\n    status: 'success',\n    processedAt: ts,\n    category: 'Sales',\n    subcategory: 'Business Operations',\n    complexity: 'basic',\n    level: 1,\n    data: inputData,\n    processed: true,\n    workflow: 'Sales Automation - Basic',\n    \n  };\n  \n  console.log('Sales processing completed successfully (basic)');\n  return { json: result };\n  \n} catch (error) {\n  console.error('Sales processing error (basic):', error);\n  return {\n    json: {\n      status: 'error',\n      error: error.message,\n      ts: new Date().toISOString(),\n      category: 'Sales',\n      complexity: 'basic'\n    }\n  };\n}"
      },
      "name": "Sales Processor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "sales-processor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "success-check"
    }
  ],
  "connections": {
    "Sales Webhook": {
      "main": [
        [
          {
            "node": "Sales Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Processor": {
      "main": [
        [
          {
            "node": "Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "metadata": {
    "version": "2.0.0",
    "author": "Enhanced AI Template Generator",
    "created": "2025-07-13T05:33:47.814Z",
    "aiGenerated": true,
    "aiModel": "gpt-4-turbo",
    "templateNumber": 1,
    "totalTemplates": 3,
    "nodeCount": 3,
    "setupTime": "5-10 Minuten",
    "technicalLevel": "Anfänger-freundlich",
    "enhancement": {
      "hasDescription": true,
      "hasUserInstructions": true,
      "hasTechnicalInstructions": true,
      "hasComplexityLevels": true
    }
  },
  "validation": {
    "validated": true,
    "qualityScore": 0.9999999999999999,
    "validationPassed": true
  }
}