templates/support-basic-v1-2025-07-12T09-36-33-859Z-4.json
{
  "name": "Support Automation - Basic",
  "description": "Automated support workflow for business operations. This template handles support processes efficiently.",
  "tags": [
    "support",
    "basic",
    "ai-generated",
    "automated"
  ],
  "category": "Business Operations",
  "subcategory": "Support",
  "complexity": "basic",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-automation",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Support Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "support-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Support Processing Engine\ntry {\n  const inputData = $json;\n  const timestamp = new Date().toISOString();\n  \n  console.log('Processing Support data:', inputData);\n  \n  // Support-specific processing logic\n  const result = {\n    status: 'success',\n    processedAt: timestamp,\n    category: 'Support',\n    subcategory: 'Business Operations',\n    data: inputData,\n    processed: true,\n    workflow: 'Support Automation - Basic'\n  };\n  \n  console.log('Support processing completed successfully');\n  \n  return { json: result };\n  \n} catch (error) {\n  console.error('Support processing error:', error);\n  \n  return {\n    json: {\n      status: 'error',\n      error: error.message,\n      timestamp: new Date().toISOString(),\n      category: 'Support'\n    }\n  };\n}"
      },
      "name": "Support Processor",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "support-processor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "success-check"
    }
  ],
  "connections": {
    "Support Webhook": {
      "main": [
        [
          {
            "node": "Support Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Processor": {
      "main": [
        [
          {
            "node": "Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "metadata": {
    "version": "1.0.0",
    "author": "AI Template Generator",
    "created": "2025-07-12T09:36:33.659Z",
    "aiGenerated": true,
    "templateNumber": 4,
    "totalTemplates": 4
  },
  "validation": {
    "validated": true,
    "qualityScore": 0.9999999999999999,
    "validationPassed": true
  }
}